<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>{{ .Label | xmlEscape }}</string>
	<key>ProgramArguments</key>
	<array>
		<string>{{ .BinaryPath | xmlEscape }}</string>
		<string>web</string>
		<string>--no-browser</string>
	</array>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>{{ .ExtraPath | xmlEscape }}</string>
		<key>PORT</key>
		<string>{{ .Port | xmlEscape }}</string>
		<key>AGENTO_DATA_DIR</key>
		<string>{{ .DataDir | xmlEscape }}</string>
		<key>AGENTO_SKIP_UPDATE_CHECK</key>
		<string>1</string>
{{ if .ClaudeConfigDir }}		<key>CLAUDE_CONFIG_DIR</key>
		<string>{{ .ClaudeConfigDir | xmlEscape }}</string>
{{ end }}	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ThrottleInterval</key>
	<integer>5</integer>
	<key>StandardOutPath</key>
	<string>{{ .LogPath | xmlEscape }}</string>
	<key>StandardErrorPath</key>
	<string>{{ .LogPath | xmlEscape }}</string>
</dict>
</plist>
